{% extends 'base.html' %}

{% block content %}
    <div>{{article.title}}</div>
    <div>{{article.content}}</div>

    <ul>
    {% comment %} related_name -> comments {% endcomment %}
        {% for comment in article.comments.all %} 
            <div>{{comment.content}}</div>
        {% endfor %}
    </ul>

    <form action="{% url 'create_comment' article.pk %}" method='POST'>
    {% csrf_token %}
        <label for="comment">댓글</label>
        <input type="text" name='comment'>
        <button type='submit'>작성</button>
    </form>
{% endblock %}